minized_qspi_fallback_sdsoc_2017_1
minized_qspi_fallback_2017_2/hardware/
minized_qspi_fallback_2017_2/build/
minized_qspi_fallback_2017_2/images/
minized_qspi_fallback_2017_2/project-spec/configs/rootfs_config.old
