minized_qspi_fallback_sdsoc_2017_1
minized_qspi_fallback_2018_1/hardware/
minized_qspi_fallback_2018_1/build/
minized_qspi_fallback_2018_1/images/
minized_qspi_fallback_2018_1/project-spec/configs/rootfs_config.old
minized_qspi_fallback_sdsoc_with_libcaer_2018_1/hardware/
minized_qspi_fallback_sdsoc_with_libcaer_2018_1/build/
minized_qspi_fallback_sdsoc_with_libcaer_2018_1/images/
minized_qspi_fallback_sdsoc_with_libcaer_2018_1/project-spec/configs/rootfs_config.old
minized_qspi_fallback_2018_1/components/plnx_workspace/device-tree/device-tree/
minized_qspi_fallback_2018_1/project-spec/meta-plnx-generated/
